<!DOCTYPE html>
<html>
<head>
    <title>YAT224</title>
</head>
<body>
    <h1>my first website with apache and ansible!!</h1>
    <p>hello from {{ ansible_facts.hostname }}, listening on port {{ http_port }} </p>
</body>
</html>
